<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="NoticeMapper">
	<select id="selectTotalCnt" parameterType="HashMap" resultType="Integer">
		SELECT 
			COUNT(board_no)
		FROM
			BOARD b
		LEFT JOIN MEMBER AS m
			ON b.member_no = m.member_no
		<where><include refid="searchQuery" /></where> 
	</select>
	
	<select id="noticeList" parameterType="HashMap" resultType="kr.co.ziziza.main.board.BoardVO">
		SELECT
			board_no, title, regist_date, member_no, member_name, hit
		FROM 
		(
			SELECT 
				@no:=@no+1 as rn, board_no, title, regist_date, member_no, member_name, hit
			FROM 
			(
				SELECT 
					board_no, title, regist_date, b.member_no, m.member_name, hit
				FROM
					BOARD AS b
				LEFT JOIN MEMBER AS m
					ON b.member_no = m.member_no
				<where><include refid="searchQuery" /></where>
				ORDER BY board_no DESC
			) AS BOARD
			, (Select @no:=0) AS no
		) AS BOARD
		WHERE 
			rn between #{page.startIndex} AND #{page.endIndex}
	</select>

	<select id="noticeTopList" resultType="kr.co.ziziza.main.board.BoardVO">
		SELECT 
			board_no, title, regist_date
		FROM 
			BOARD
		WHERE 
			board_code = 'NOTICE' AND state = 'Y'
		ORDER BY 
			board_no DESC
		LIMIT 5;
	</select>

	<select id="noticedetail" parameterType="kr.co.ziziza.main.board.BoardVO" resultType="kr.co.ziziza.main.board.BoardVO">
		SELECT
			board_no, title, contents, m.member_no, m.member_name, regist_date
		FROM
			BOARD AS b
		LEFT JOIN MEMBER AS m
			ON b.member_no = m.member_no
		WHERE 
			board_no = #{board_no} AND b.state = 'Y'
	</select>
	
	<update id="updateHit" parameterType="Integer">
		UPDATE BOARD
		SET
			hit = hit + 1
		WHERE
			board_no = #{boardNo}
	</update>

	<!-- 검색 조건 쿼리 -->
	<sql id="searchQuery">
		board_code = 'NOTICE'
		AND b.state = 'Y'
		<if test="search.searchType != null and search.searchType != ''">
			<choose>
				<when test="search.searchType == 'TITLE'">
					AND title like concat('%',#{search.searchTxt},'%')
				</when>
				<when test="search.searchType == 'CNT'">
					AND contents like concat('%',#{search.searchTxt},'%')
				</when>
			</choose>
		</if>
	</sql>

</mapper>
